---
title: Projects
permalink: /projects/
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>§_VØ1Đ/A₦GɆL_§ -«~ projects</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/css/projects.css">
	</head>
	<body>
		{% include header.html %}

		<main class="main-content">
			<h2>Current Projects</h2>
            <a href="https://nicholasc2.github.io/WebKonsole" target="_blank">Web Konsole</a>
            <a href="https://github.com/NicholasC2/TchaT" target="_blank">TchaT</a>
            <a href="https://github.com/NicholasC2/Steel" target="_blank">Steel 4DS</a>
            <a href="https://github.com/NicholasC2/Netherite-Client" target="_blank">Netherite Client</a>
		</main>
		
		{% include footer.html %}
	</body>
</html>
