---
permalink: /404.html
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>§_VØ1Đ/A₦GɆL_§ -«~ home</title>
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		{% include header.html %}

		<main class="main-content">
            <h1>404 Page not Found!</h1>
            <p>The page you are looking for doesn't exist or may have been moved.<br>Please check the URL or go back to the home page.</p>
            <a href="/">Return Home</a>
		</main>
		
		{% include footer.html %}
	</body>
</html>
