.portfolio {
    column-count: 5;
    column-gap: 10px;
}

.item {
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
    margin-bottom: 10px;
    break-inside: avoid;
}

.item:hover {
    z-index: 10;
    box-shadow:
        0 0 5px 2px rgba(255, 255, 255, 1),
        0 0 20px rgba(255, 255, 255, 0.08);
}

.portfolio img,
.portfolio video {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .portfolio {
        column-count: 3;
    }
}

@media (max-width: 500px) {
    .portfolio {
        column-count: 2;
    }
}
