body {
    margin: 0;
    background-color: #050505;
    color: #aaaaaa;
}

.fix-scroll {
    scroll-margin-top: 150px;
}

.bottom-footer {
    background-color: #111111;
    position: static;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.footer-column + .footer-column {
    position: relative;
}

.footer-column + .footer-column::before {
    content: "";
    position: absolute;
    left: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: #555;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #aaa;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    margin: 20px;
    min-height: calc(100vh - 270px);
}

.github-link {
    color: white;
}

.top-nav-bar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
    flex-direction: row;

    padding: 10px;
    background-color: #111111;

    font-family: "Unifraktur Maguntia";
    font-size: 40px;
}

.top-nav-bar img {
    width: 110px;
    height: 110px;
}

.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.nav-links a {
    position: relative;
    margin: 30px;

    text-decoration: none;
    color: #dddddd;
    transition: color 200ms ease;
}

.nav-links a:hover {
    color: white;
}

.nav-links a.current {
    color: #aaaaff;
}

.nav-links a::after {
    content: "";
    position: absolute;
    inset: auto 0 -2px;

    height: 2px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 200ms ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

@font-face {
    font-family: "Unifraktur Maguntia";
    src: url("../fonts/UnifrakturMaguntia-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Mobile */
@media (max-width: 768px) {
    .top-nav-bar {
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
    }

    .top-nav-bar img {
        margin: 0 auto;
    }

    .top-nav-bar a {
        margin: 0 20px;
        text-align: center;
    }

    .nav-links {
        position: relative;
        left: 0;
        transform: none;
        display: flex;
    }
}
