.portfolio {
    column-count: 5;
    column-gap: 10px;
}
.main-content {
    display: block;
}

.item {
    opacity: 80%;
    transition: opacity 200ms;

    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    break-inside: avoid;
}

.item:hover {
    opacity: 100%;
}

.portfolio a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #dddddd;
}

.portfolio img {
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
}

.portfolio span {
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}