---
title: Terminal
permalink: /terminal/
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>§_VØ1Đ/A₦GɆL_§ -«~ home</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/css/terminal.css">
        <script src="./Konsole.min.js"></script>
	</head>
	<body>
		{% include header.html %}

		<main class="main-content">
            <div id="konsole"></div>
            <script>
                const container = document.getElementById("konsole");
                const konsole = new Konsole(container)
            </script>
		</main>
		
		{% include footer.html %}
	</body>
</html>
