---
title: Photography
permalink: /photography/
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>§_VØ1Đ/A₦GɆL_§ -«~ photography ~»- {{ page.category }}</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/css/category.css">
	</head>
	<body>
		{% include header.html %}

		<main class="main-content">
			<div class="portfolio">
				{% assign photo_path = "photography/portfolios/" | append: page.category | append: "/photos" %}
				{% for file in site.static_files %}
					{% if file.path contains photo_path %}
						<a href="{{ file.path }}" class="item">
							<img src="{{ file.path }}" alt="{{ file.name }}">
						</a>
					{% endif %}
				{% endfor %}

				{% assign video_path = "photography/portfolios/" | append: page.category | append: "/videos" %}
				{% for file in site.static_files %}
					{% assign ext = file.extname | downcase %}
					{% if file.path contains video_path and ext == ".mp4" %}
						<div class="item video">
							<video controls>
								<source src="{{ file.path }}" type="video/mp4">
								Your browser does not support the video tag.
							</video>
						</div>
					{% endif %}
				{% endfor %}

			</div>
		</main>


		{% include footer.html %}
	</body>
</html>
